requests==2.31.0
PyQt5==5.15.9
PyQt5-sip==12.11.0
selenium==4.29.0
undetected-chromedriver==3.5.5
pandas==2.2.1
simpleaudio==1.0.4
Werkzeug==3.0.1
watchdog==3.0.0
chromedriver-autoinstaller
pyinstaller
webdriver_manager